@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,100&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
:root{
  --text:#e9dddd;
}

html{
  min-height: 100vh;
}

body{
  position: relative;
  overflow: hidden;
  background-color: #001431;
  color: var(--text);

}



.nav{
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.487);
  position: absolute;
  z-index: 999;
  top:0;
  left: 0;
  transition: 0.7s ease;
  padding: 10px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.nav.show{
  top: -12vh;
}

.selectAlgo{
  padding: 5px;
  background-color: #2d393cc4;
  text-align: center;
  display: flex;
  align-items: center;
  height: 70%;
  width: 170px;
  border-radius: 5px;
  transition: 0.2s ease;
  
}
.selectAlgo:hover{
  background-color: #2d393c;
  cursor: pointer;
  /* transform: scale(1.1); */
}
.algos{
  border-radius: 5px;
  position: absolute;
  width: inherit;
  top:12vh;
  padding: 5px;
  background-color: #e9dddd69;
  display: flex;
  flex-direction: column;
  display: none;
}
.algos.show{
  display: block;
}
.algos>p{
  padding: 5px;
  border-radius: 3px;
  background-color: #00143188;
  margin: 2px;
  cursor: pointer;
}
.algos>p:hover{
  background-color: #001431;
}

.nodeBtns{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.addStartNode{
  padding: 5px;
  margin: 5px;
  background-color: #2d393cc4;
  text-align: center;
  display: flex;
  align-items: center;
  height: 70%;
  right: 0;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.addEndNode{
  padding: 5px;
  background-color: #2d393cc4;
  text-align: center;
  display: flex;
  align-items: center;
  height: 70%;
  right: 0;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.switches{
  /* background-color: #ff0d00; */
  display: flex;
  flex-direction: column;
  font-size: small;
}
.switch1, .switch2{
  display: flex;
  margin: 10px 10px 10px 10px;
  /* background-color: #ff0d00; */

}
.drawUser{
  width: 50px;
  height: 18px;
  border-radius: 30px;
  display: flex;
  margin: 0px 0px 0px 10px;
  align-items: center;
  position: relative;
  background: #2d393c;
  transition: 0.5s ease;
}
.drawUser .drawswitch{
  width: 23px;
  height: 23px;
  background-color: #fff;
  border: 2px solid #0000006e;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  transition: 0.5s ease;
}

.drawUser.drawing{
  background-color: #8a9db5;
  transition: 0.5s ease;
}
.drawUser.drawing .drawswitch{
  left: 60%;
}

.eraseUser{
  width: 50px;
  height: 18px;
  border-radius: 30px;
  display: flex;
  margin: 0px 0px 0px 10px;
  align-items: center;
  position: relative;
  background: #2d393c;
  transition: 0.5s ease;
}
.eraseUser .eraseswitch{
  width: 23px;
  height: 23px;
  background-color: #fff;
  border: 2px solid #0000006e;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  transition: 0.5s ease;
}

.eraseUser.erasing{
  background-color: #8a9db5;
  transition: 0.5s ease;
}
.eraseUser.erasing .eraseswitch{
  left: 60%;
}

.grid-container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(50, 1fr);
  z-index: 0;
}

.gridItem.traversed{
  background-color: rgb(4, 92, 17);
  animation: scaleuppath 0.2s ease;
}

.start{
  background-color: #ff0d00;
  border-radius: 50%;
  box-shadow: rgba(255, 0, 0, 0.582) 0px 19px 38px, rgba(255, 0, 0, 0.593) 0px 3px 10px;
  animation: scaleup 0.5s ease;

}

.end{
  background-color: #00ff2a;
  border-radius: 50%;
  box-shadow: rgba(0, 255, 30, 0.582) 0px 19px 38px, rgba(0, 255, 47, 0.593) 0px 3px 10px;
  animation: scaleup 0.5s ease-in-out;

}

.toggleNav{
  width: 30px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.722);
  position: absolute;
  z-index: 999;
  border-radius: 0px 0px 5px 5px;
  top:12vh;
  right:1%;
  text-align: center;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
.toggleNav.show{
  top: 0;
}


.gridItem{
  border: 0.1px solid #ffffff21;
  z-index: inherit;
  font-size: 5px;
  /* transition: 0.5s ease-in-out; */
}



.gridItem:hover{
  background-color: #2d393c;
}
.start:hover{
  background: #ff0d00;
  transform: scale(1.5);
}

.end:hover{
  background: #00ff2a;
  transform: scale(1.5);
  
}

.gridItem.drawn{
  background-color: #fff;
  animation: scaleuppath 0.2s ease-in-out;
}



@keyframes scaleuppath{
  0%{
    background-color: #ff00ff;
    transform: scale(0.2);
  }
  90%{
    background-color: #ff00ff;
  }
  100%{
    transform: scale(1.0);
  }
}

@keyframes scaleup{
  0%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(1.0);
  }
}



/* Temp */

.solve{
  margin-top: 100px;
}






















